/.gradle
/out
/build
*.iml
*.ipr
*.iws
.idea/*
server/src/main/resources/local.conf
server/src/main/resources/staging.conf
suspender/src/main/resources/application.conf
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
