/.gradle
/out
/build
*.iml
*.ipr
*.iws
.idea/*
app/credentials
app/src/main/resources/development.conf
app/src/main/resources/staging.conf
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
