/.gradle
/out
/build
*.iml
*.ipr
*.iws
.idea/*
server/src/main/resources/development.conf
server/src/main/resources/staging.conf
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
